* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(238, 255, 242, 0.596);
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.tarjeta {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: translateY(-10px);
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta h2 {
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    padding-top: 20px;
}